body {
  font-family: "Poppins", sans-serif;
}

.header h1 {
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

.header h2 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.header h3 {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  text-transform: uppercase;
}

.header a {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  color: black;
  display: inline-block;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1.5;
  margin: 30px auto;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.header {
  aspect-ratio: 21/9;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../images/santiago.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  max-width: 1200px;
  padding: 30px;
  text-align: center;
}

.header h1,
.header h2,
.header h3 {
  color: white;
  margin: 10px auto;
  text-align: center;
}

footer {
  font: 20px;
  padding: 30px;
  text-align: center;
}

@media (max-width: 900px) {
  .header {
    padding: 16px;
  }

  .header h1 {
    font-size: 48px;
  }

  .header h2 {
    font-size: 20px;
  }

  .header h3 {
    font-size: 12px;
  }

  .header a {
    font-size: 10px;
  }
}
