h1 {
  font-family: "Poppins", sans-serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: 144px;

  color: red;
}

.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../images/santiago.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px auto;
  max-width: 1200px;
  padding: 30px;
  text-align: center;
}

.header h1,
.header h2 {
  color: white;
  margin: 30px auto;
  text-align: center;
}

footer {
  font-family: "Poppins", sans-serif;
  font: 20px;
  padding: 30px;
  text-align: center;
}
